<!-- header -->
<ion-header>
  <ion-toolbar>
    <ion-title>Search Movie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-searchbar
    placeholder="Search Movie"
    animated
    debounce="600"
    [value]="textSearch"
    (ionChange)="search($event)"

  ></ion-searchbar>
</ion-toolbar>

<!-- content  -->
<ion-content>

  <!-- CODIGO DEL SPINNER -->
  <ion-grid *ngIf="spinner">
    <ion-row>
      <ion-col text-center>
        <ion-spinner name="crescent" color="success">
        </ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- /CODIGO DEL SPINNER -->

  <ion-list *ngIf="movies.length === 0">
    <ion-list-header>
      <ion-label>IDEAS</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let idea of ideas" 
    (click)="textSearch=idea">
      <ion-label color="success">{{ idea }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let movie of movies">

        <ion-card (click)="details(movie.id)">
          <img [src]="movie.poster_path | image" alt="">
          <ion-card-header>
            <ion-card-subtitle>{{ movie.release_date }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <h2>{{ movie.title }}</h2>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
