<ion-content>
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>Películas en cartelera</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <app-slidesshow-backdrop [recentMoviesChildren]="recentMovies"></app-slidesshow-backdrop>


  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>Recent Movies</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
 
  <app-slidesshow-poster [moviesPosters]="recentMovies"></app-slidesshow-poster>

  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>Popularity Movies</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <app-slidesshow-popularity 
   [moviePopularity]="popularity"
   (cargarPopulares)="addLoading()"
  >
</app-slidesshow-popularity>
</ion-content>